.vscode/settings.json

# Python
*.pyc
__pycache__/
.env
.venv/
*.swp
*~
*.bak
*.tmp
log/
*.log
/instance
instance/
pids/
*.pid
*.seed
dist/
build/
eggs/
.eggs/
lib/*.egg-info/
lib64/*.egg-info/
share/python-wheels/
*.egg-info/
.installed.cfg
*.mo
*.pot
!/usr/share/locale
!/usr/share/locale-langpack
=======
.vscode/settings.json

# Python
*.pyc
__pycache__/
.env
.venv/
*.swp
*~
*.bak
*.tmp
log/
*.log
/instance
instance/
pids/
*.pid
*.seed
dist/
build/
eggs/
.eggs/
lib/*.egg-info/
lib64/*.egg-info/
share/python-wheels/
*.egg-info/
.installed.cfg
*.mo
*.pot
!/usr/share/locale
!/usr/share/locale-langpack
